/* src/styles/Base.css */

.flex {
    display: flex; /* Enable Flexbox */
}

.sidebar-container {
    width: 70px; /* Default width for icons only */
    transition: width 0.3s; /* Smooth transition for width change */
}

.content-container {
    flex-grow: 1; /* Allow content to grow and fill available space */
    display: flex; /* Enable flexbox for content */
}

.content {
    padding: 20px; /* Add some padding to the content area */
    background-color: #ffffff; /* Background color for the content area */
    overflow-y: auto; /* Allow vertical scrolling if content overflows */
    flex-grow: 1; /* Allow content to grow and fill available space */
    display: flex; /* Enable flexbox for content */
    flex-direction: column; /* Stack children vertically */
}

/* Expand sidebar on hover */
.sidebar-container:hover {
    width: 200px; /* Expanded width for full menu */
}